* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.footerheight {
    height: 660px;
}

html,
body {
    font-family: sans-serif;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: 768px;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_info {
    background-image: url(pic/top_back.png);
    flex-grow: 1;
    padding-top: 115px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.img_link:hover {
    box-shadow: 10px 20px 50px rgba(5, 44, 70, 0.548);
    border-radius: 10px;
    opacity: 0.5;
}

.top_heading {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.gen-text {
    width: 425px;
}

.text_card {
    width: 270px;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    text-align: center;
    opacity: 1;
}

.top_button {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 71px;
}

.top_button:hover {
    font-size: 18px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading_mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.what-we-do {
    padding-top: 64px;
}

.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card_link:hover {
    color: gray;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card_link::after {
    content: " \279C";
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card:hover {
    width: 359px;
    box-shadow: 15px 20px 80px rgba(12, 80, 126, 0.589);
}

.card_image {
    align-self: center;
    margin-bottom: 51px;
}

.project {
    padding: 0px;
}

.project_item {
    position: relative;
    flex-wrap: wrap;
    flex-grow: 1;
}

.project_item_margin {
    margin-right: 32px;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project_image {
    width: 100%;
}

.project_text {
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.project_text2 {
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 64px;
}

.project_text3 {
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;
}

.backfoot {
    display: block;
    position: relative;
    max-width: 100%;
    background: #316099;
    margin-top: 112px;
    height: 100%;
}

.heading_foot {
    font-size: 36px;
    width: 340px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 32px;
    margin-left: 113px;
    margin-top: 91px;
}

.foot_text {
    width: 495px;
    text-align: left;
    margin-left: 113px;
    padding-bottom: 96px;
    color: #FFFFFF;
}

.foot_button {
    display: inline-block;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    padding: 15px 80px;
    margin-top: 165px;
    margin-right: 114px;
}

.foot_button:hover {
    font-size: 20px;
}

.hr_stil {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.lasttext {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.headfoot {
    width: 340px;
}

.boxlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 130px;
}

.box_text {
    color: #FFFFFF;
    opacity: 1;
}

.box_pad {
    padding-left: 19px;
    padding-right: 10px;
}

.copyright {
    display: flex;
    text-align: left;
    margin-top: 64px;
}


/* Далее следуют стили для страницы "Контакты" */

.top_contact {
    padding: 10px 0px 0px 0px;
    max-width: 100%;
}

.top_box_contact {
    display: flex;
    flex-direction: column;
}

.header_contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

.top_info_contact {
    background-position: center;
    background-size: cover;
    background-image: url(pic/back_cont.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

.top_heading_contact {
    font-weight: 500;
    max-width: 100%;
    font-size: 44px;
    line-height: 74px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 30px;
    margin-bottom: 16px;
}

.base_text_contact {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.pageheader {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 60px;
}

.comms {
    position: relative;
    flex-wrap: wrap;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}

.cont_pic {
    padding-top: 100px;
}

.adess_list {
    margin-top: 56px;
    width: 50%;
}

.adress_heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}

.adress_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 24px;
}

.list2 {
    margin-top: 40px;
}

.phone_heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}

.phones {
    padding-left: 30px;
}

.servs {
    list-style-image: url(pic/phone_pic.svg);
    padding-left: 10px;
    opacity: 0.6;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.list3 {
    margin-top: 40px;
}

.servs1 {
    list-style-image: url(pic/world.svg);
    padding-left: 10px;
    opacity: 0.6;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.servs2 {
    list-style-image: url(pic/letter.svg);
    padding-left: 10px;
    opacity: 0.6;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.sertdn {
    text-decoration: none;
}

.sertdn:visited {
    color: #1F3F68;
}

.sertdn:hover {
    font-size: 18px;
    color: gray;
}

.serv_links {
    padding-left: 30px;
}

.serv_heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}

.feedback {
    position: relative;
    width: 50%;
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
}

.send_heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    font-weight: bold
}

.text_heading {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-top: 32px;
    font-weight: bold
}

.feedback_area {
    width: 100%;
    height: 50px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-left: 42px;
}

.area_text {
    padding-top: 21px;
    height: 170px;
}

.mapsite {
    display: flex;
    margin-top: 96px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
}

.formtext {
    max-width: 100%;
    font-size: 24px;
    color: #1F3F68;
    margin-right: auto;
}

.sub1 {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 65px;
}

.sub1:hover {
    border: none;
    font-size: 18px;
}

.boxlist1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 150px;
}

.box_text1 {
    color: #FFFFFF;
    opacity: 1;
}

.boxlistvalue1::marker {
    content: "A.    ";
}

.boxlistvalue2::marker {
    content: "T.    ";
}

.boxlistvalue3::marker {
    content: "E    ";
}

.box_phone {
    color: #FFFFFF;
    text-decoration: none;
}

.box_phone:visited {
    color: #FFFFFF;
}

.box_phone:hover {
    color: rgb(192, 192, 192);
}

.box_mail {
    color: #FFFFFF;
    text-decoration: none;
}

.box_mail:visited {
    color: #FFFFFF;
}

.box_mail:hover {
    color: rgb(192, 192, 192);
}


/* Далее следуют стили для страницы "Реклама" */

.top_advert {
    padding: 10px 0px 0px 0px;
    max-width: 100%;
}

.top_box_advert {
    display: flex;
    flex-direction: column;
}

.header_advert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

.top_info_advert {
    background-position: center;
    background-size: cover;
    background-image: url(pic/back_adv.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

.top_heading_advert {
    font-weight: 400;
    max-width: 100%;
    font-size: 44px;
    line-height: 74px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffffdc;
    padding-top: 30px;
    margin-bottom: 16px;
    opacity: 1;
}

.base_text_advert {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.adv_back {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5438550420168067) 0%, rgba(255, 255, 255, 0.8519782913165266) 0%, rgba(28, 105, 175, 0.4542191876750701) 100%);
    min-height: 768px;
}

.adv_navigation {
    height: 705px;
    border: 1px solid #818181;
    background-color: #FFFFFF;
}

.tabs {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

label:hover {
    color: #000;
    opacity: 1;
}

.tabs>input {
    display: none;
}

.tabs>div {
    display: none;
    padding: 12px;
    border: 2px solid #cecece;
    background: #FFFFFF;
}

.tabs>label {
    display: inline-block;
    padding: 20px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #15509c;
    border: none;
    background: none;
    cursor: pointer;
}

.tabs>input:checked+label {
    padding: 50px;
    color: #ffffff;
    border: none;
    background: #ca0a2adc;
}

#tab_1:checked~#txt_1 {
    background-image: url(pic/Target-1.png);
    padding-top: 20px;
    background-repeat: no-repeat;
    background-position: 700px -20px;
    background-size: 28%;
    display: block;
    border: none;
}

#tab_2:checked~#txt_2 {
    height: 310px;
    background-image: url(pic/Creative-1.png);
    background-repeat: no-repeat;
    background-position: 400px 200px;
    background-size: 30%;
    display: block;
    border: none;
}

#tab_3:checked~#txt_3 {
    height: 310px;
    background-image: url(pic/Integr-1.png);
    background-repeat: no-repeat;
    background-position: 400px 150px;
    background-size: 30%;
    display: block;
    border: none;
}

#tab_4:checked~#txt_4 {
    height: 310px;
    background-image: url(pic/Stickers-1.png);
    background-repeat: no-repeat;
    background-position: 250px 150px;
    background-size: 56%;
    display: block;
    border: none;
}

.tab_heading1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ca0a2adc;
}

.tab_text1 {
    line-height: 32px;
    width: 50%;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
    color: #2E2382;
}

.tab_text2 {
    line-height: 16px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
    color: #2E2382;
}

.tab_text3 {
    line-height: 32px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
    color: #2E2382;
}

.tab_info1 {
    font-size: 36px;
    font-weight: lighter;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ca0a2adc;
    padding: 50px 0px 20px;
}

.tab_info2 {
    font-size: 36px;
    font-weight: lighter;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ca0a2adc;
    padding: 50px 0px 20px;
    margin-top: 168px;
}

.tab_info3 {
    font-size: 36px;
    font-weight: lighter;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ca0a2adc;
    padding: 50px 0px 20px;
    margin-top: 200px;
}

.hrad {
    border: 1px solid #2E2382;
}

.tab_list1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-left: 35px;
}

.tab_colsitem {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 80%;
}

.tab_listtext::marker {
    content: "—   ";
    color: #ca0a2adc;
    font-weight: bolder;
}

.tab_listtext {
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #2E2382;
}

.tab_button1 {
    position: absolute;
    top: 945px;
    right: 380px;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #ca0a2adc;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border: none;
    text-decoration: none;
    padding: 10px 70px;
}

.tab_button1:hover {
    font-size: 18px;
}

.footadv {
    margin: 0px;
}